@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Jost", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../../public/pics/main_bg.jpeg');
}

.category_link {
    color: #e1e1e1;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.category_link:focus,
.category_link:hover {
    color: #fff;
}

.category_link:focus:after,
.category_link:hover:after {
    width: 100%;
    left: 0%;
}

.category_link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.category_container:hover .category_image {
    /* transform: scale(1.5); */
    transform: scale(1.2);
}

.product-pic {
    /* background-image: url('../../public/pics/perfume_1.jpg'); */
    background-image: url('../../public/pics/perfume_2.jpeg');
    background-size: cover;
    background-position: center;
}

.group:hover .product-pic {
    background-image: url('../../public/pics/perfume_1.jpg');
}

/* Hide Price ans Display Product's Card */
@media (min-width: 1024px) {
    .product_name {
        transition: 0.3s ease;
    }

    .card_product:hover .product_price {
        display: none;
        transition: 0.3s ease;
    }
    
    .card_product:hover .product_shop {
        display: flex;
        transition: 0.3s ease;
    }
}

.footer {
    background: url('../../public/pics/about-bg.jpeg') center no-repeat;
    background-size: cover;
}

/* Shop Banner */
.shop_banner {
    background: url('../../public/pics/product-banner1.jpg');
}

/* Track Order Banner */
.torder_banner {
    background: url('../../public/pics/product-banner.jpg');
}

/* Contact Banner */
.contact_banner {
    background: url('../../public/pics/contact-banner.jpg');
}

/* Common Banner Style */
.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow {
    width: 60px;
    height: 80px;
    margin: 0 1em;
    transform: rotate(180deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow.active {
    transform: rotate(0deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}